<td> <div class="field">
  <label><b><%= I18n.t :answer %></b></label>
  <%= f.text_field :name %>
 </div>
 <div class="field">
  <label><b><%= I18n.t :score %></b></label>
 <%= f.number_field :score %>
</div>
</td>