<%= form_for(@question) do |f| %>
  <div class="module_content">
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h4 class='alert_error'><%= pluralize(@question.errors.count, "error") %> prohibited this category from being saved:</h4>

        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label><b><%= I18n.t :name %></b></label>
      <%= f.text_field :name %>
    </div>

    <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', :f => builder %>
    <% end %>
    
  <p><%= f.submit "Submit" %></p>
<% end %>