<div class="page-header">
  <h2><%= I18n.t :listing_questions %> - <%= link_to I18n.t(:new_question), new_question_path, class: 'btn btn-success' %></h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :name %></th>

    </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.name %></td>

      <td><%= link_to I18n.t(:show), question, class: 'btn' %></td>
      <td><%= link_to I18n.t(:edit), edit_question_path(question), class: 'btn btn-primary' %></td>
      <td><%= button_to I18n.t(:delete), { action: :destroy, id: question.id }, :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @questions, previous_label: I18n.t(:previous), next_label: I18n.t(:next) %>
<br />

<%= link_to I18n.t(:new_question), new_question_path, class: 'btn btn-success' %>
