<%= outgoing_menssage %>
<div class="page-header">
  <h2><%= I18n.t :showing %></h2>
</div>
<table class="table table-bordered table-striped">
  <tr>
    <td><b><%= I18n.t :question %></b></td>
    <td><%= @question.name %></td>
  </tr>
     
    <% for answer in @question.answers %>
      <tr>
      	<td><b><%= I18n.t :answer %></b></td>
     	 <td><%=h answer.name %></td>
      </tr>
    <% end %>
  
</table>

<%= link_to arrow_left, questions_path %>
<%= link_to I18n.t(:edit), edit_question_path(@question), class: 'btn btn-primary' %>
