<%= simple_form_for(@employee) do |f| %>
<div class="module_content">
  <% if @employee.errors.any? %>
  <div id="error_explanation">
    <h4 class='alert_error'><%= pluralize(@employee.errors.count, "error") %> prohibited this category from being saved:</h4>

    <ul>
      <% @employee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <label><b><%= I18n.t :name %></b></label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label><b><%= I18n.t :identify %></b></label>
    <%= f.number_field :identify %>
  </div>
  <div class="field">
    <label><b><%= I18n.t :departament_id %></b></label>
    <%= f.collection_select :departament_id, Departament.all, :id, :name %>
  </div>
  <div class="field">
    <label><b><%= I18n.t :employment_id %></b></label>
    <%= f.collection_select :employment_id, Employment.all, :id, :name %>
  </div>
</div>
<%= link_to arrow_left, employees_path %>
<%= submit_link(f) %>
<%= submit_tag(I18n.t(:clear), class: 'btn btn-inverse', type: "reset" ) %>
<%= link_to(I18n.t(:show), @employee, class: 'btn') if params[:action] == 'edit' %>
<% end %>
