<div class="page-header">
  <h2><%= I18n.t :listing_employees %> - <%= link_to I18n.t(:new_employee), new_employee_path, class: 'btn btn-success' %></h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th><%= t :identify %></th>
      <th><%= t :departament %></th>
      <th><%= t :employment %></th>
    </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.identify %></td>
      <td><%= employee.departament.name %></td>
      <td><%= employee.employment.name %></td>
      <td><%= link_to I18n.t(:show), employee, class: 'btn' %></td>
      <td><%= link_to I18n.t(:edit), edit_employee_path(employee), class: 'btn btn-primary' %></td>
      <td><%= button_to I18n.t(:delete), { action: :destroy, id: employee.id },:confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger' %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @employees, previous_label: I18n.t(:previous), next_label: I18n.t(:next) %>
<br />

<%= link_to I18n.t(:new_employee), new_employee_path, class: 'btn btn-success' %>
