<%= outgoing_menssage %>
<div class="page-header">
	<h2><%= I18n.t :employee %></h2>
</div>

<table class="table table-bordered table-striped">

	<p> <b><%= I18n.t :name %></b> <br>
		<%= @employee.name %>
	</p>

	<p> <b><%= I18n.t :identify %></b><br>
		<%= @employee.identify %>
	</p>

	<p> <b><%= I18n.t :departament %></b><br>
		<%= @employee.departament.name %>
	</p>

	<p><b><%= I18n.t :employment %></b><br>
		<%= @employee.employment.name %>
	</p>

</table>

<%= link_to arrow_left, employees_path %>
<%= link_to I18n.t(:edit), edit_employee_path(@employee), class: 'btn btn-primary' %>
