<%= simple_form_for(@employment) do |f| %>
 <% f.association :competence%>

  <div class="module_content">
    <% if @employment.errors.any? %>
      <div id="error_explanation">
        <h4 class='alert_error'><%= pluralize(@employment.errors.count, "error") %> prohibited this category from being saved:</h4>

        <ul>
        <% @employment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label><b><%= I18n.t :name %></b></label>
      <%= f.text_field :name %>
    </div>
  <div class="field">
      <label><b><%= I18n.t :competence_id %></b></label>
      <%=f.association :competence, :collection => Competence.all(:order => 'name'),:as => :check_boxes%>
      <%#= f.collection_select :competence_id, Competence.all, :id, :name %>
  </div>

  
  <%= link_to arrow_left, employments_path %>
  <%= submit_link(f) %>
  <%= submit_tag(I18n.t(:clear), class: 'btn btn-inverse', type: "reset" ) %>
  <%= link_to(I18n.t(:show), @employment, class: 'btn') if params[:action] == 'edit' %>
<% end %>
