<div class="page-header">
  <h2><%= I18n.t :listing_employments %> - <%= link_to I18n.t(:new_employment), new_employment_path, class: 'btn btn-success' %></h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
    </tr>
  </thead>
  
  <tbody>
  <% @employments.each do |employment| %>
    <tr>
      <td><%= employment.name %></td>
      <td><%= link_to I18n.t(:show), employment, class: 'btn' %></td>
      <td><%= link_to I18n.t(:edit), edit_employment_path(employment), class: 'btn btn-primary' %></td>
      <td><%= button_to I18n.t(:delete), { action: :destroy, id: employment.id },:confirm => "Are you sure?", method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @employments, previous_label: I18n.t(:previous), next_label: I18n.t(:next) %>
<br />

<%= link_to I18n.t(:new_employment), new_employment_path, class: 'btn btn-success' %>
