<%= outgoing_menssage %>
<div class="page-header">
	<h2><%= I18n.t :employment%></h2>
</div>

<table class="table table-bordered table-striped">
	<p> <b><%= I18n.t :name %></b> <br>
		<%= @employment.name %>
	</p>
	
	<b><%= I18n.t :competence %></b> <br>
	<%= @employment.competence.name %>

</table>

	<%= link_to arrow_left, employments_path %>
	<%= link_to I18n.t(:edit), edit_employment_path(@employment), class: 'btn btn-primary' %>
