<%= form_for(@answer) do |f| %>
  <div class="module_content">
    <% if @answer.errors.any? %>
      <div id="error_explanation">
        <h4 class='alert_error'><%= pluralize(@answer.errors.count, "error") %> prohibited this category from being saved:</h4>

        <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label><b><%= I18n.t :name %></b></label>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <label><b><%= I18n.t :score %></b></label>
      <%= f.number_field :score %>
    </div>
  </div>
  <%= link_to arrow_left, answers_path %>
  <%= submit_link(f) %>
  <%= submit_tag(I18n.t(:clear), class: 'btn btn-inverse', type: "reset" ) %>
  <%= link_to(I18n.t(:show), @answer, class: 'btn') if params[:action] == 'edit' %>
<% end %>
