<div class="page-header">
  <h2><%= I18n.t :listing_answers %> - <%= link_to I18n.t(:new_answer), new_answer_path, class: 'btn btn-success' %></h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th><%= t :score %></th>
    </tr>
  </thead>
  <tbody>
  <% @answers.each do |answer| %>
    <tr>
      <td><%= answer.name %></td>
      <td><%= answer.score %></td>
      <td><%= link_to I18n.t(:show), answer, class: 'btn' %></td>
      <td><%= link_to I18n.t(:edit), edit_answer_path(answer), class: 'btn btn-primary' %></td>
      <td><%= button_to I18n.t(:delete), { action: :destroy, id: answer.id }, :confirm => "Are you sure?", method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @answers, previous_label: I18n.t(:previous), next_label: I18n.t(:next) %>
<br />

<%= link_to I18n.t(:new_answer), new_answer_path, class: 'btn btn-success' %>
