<%= outgoing_menssage %>
<div class="page-header">
  <h2><%= I18n.t :answer %></h2>
</div>
<table class="table table-bordered table-striped">
  
  <p><b><%= I18n.t :name %></b><br>
    <%= @answer.name %></p>
  
  <b><%= I18n.t :score %></b><br>
    <%= @answer.score %>
</table>

<%= link_to arrow_left, answers_path %>
<%= link_to I18n.t(:edit), edit_answer_path(@answer), class: 'btn btn-primary' %>
