<div class="page-header">
  <h2><%= I18n.t :listing_departaments %> - <%= link_to I18n.t(:new_departament), new_departament_path, class: 'btn btn-success' %></h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :name %></th>
    </tr>
  </thead>
  <tbody>
  <% @departaments.each do |departament| %>
    <tr>
      <td><%= departament.name %></td>
      <td><%= link_to I18n.t(:show), departament, class: 'btn' %></td>
      <td><%= link_to I18n.t(:edit), edit_departament_path(departament), class: 'btn btn-primary' %></td>
      <td><%= button_to I18n.t(:delete), { action: :destroy, id: departament.id },:confirm => "Are you sure?", method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @departaments, previous_label: I18n.t(:previous), next_label: I18n.t(:next) %>
<br />

<%= link_to I18n.t(:new_departament), new_departament_path, class: 'btn btn-success' %>
