<%= outgoing_menssage %>
<div class="page-header">
	<h2><%= I18n.t :departament %></h2>
</div>

<table class="table table-bordered table-striped">

	<p><b><%= I18n.t :name %></b><br>
		<%= @departament.name %></p>
</table>

<%= link_to arrow_left, departaments_path %>
<%= link_to I18n.t(:edit), edit_departament_path(@departament), class: 'btn btn-primary' %>
