<%= simple_form_for(@survey) do |f| %>
  <div class="module_content">
    <% if @survey.errors.any? %>
      <div id="error_explanation">
        <h4 class='alert_error'><%= pluralize(@survey.errors.count, "error") %> prohibited this category from being saved:</h4>

        <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label><b><%= I18n.t :employee %></b></label>
      <%= f.collection_select :employee_id, Employee.all, :id, :name %>
    </div>
    <div class="field">
      <label><b><%= I18n.t :departament_id %></b></label>
      <%= f.collection_select :departament_id, Departament.all, :id, :name %>
    </div>
    <div class="field">
      <label><b><%= I18n.t :employment_id %></b></label>
      <%= f.collection_select :employment_id, Employment.all, :id, :name %>
    </div>
    <div class="field">
      <label><b><% I18n.t :product %></b></label>
      <% f.number_field :product %>
    </div>
  </div>
  <%= link_to arrow_left, surveys_path %>
  <%= submit_link(f) %>
  <%= submit_tag(I18n.t(:clear), class: 'btn btn-inverse', type: "reset" ) %>
  <%= link_to(I18n.t(:show), @survey, class: 'btn') if params[:action] == 'edit' %>
<% end %>
