<div class="page-header">
  <h2><%= I18n.t :listing_surveys %> - <%= link_to I18n.t(:new_survey), new_survey_path, class: 'btn btn-success' %></h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :employee %></th>
      <th><%= t :departament %></th>
      <th><%= t :employment %></th>
      <th><%= t :product %></th>

    </tr>
  </thead>
  <tbody>
  <% @surveys.each do |survey| %>
    <tr>
      <td><%= survey.employee.name %></td>
      <td><%= survey.departament.name %></td>
      <td><%= survey.employment.name %></td>

      <td><%= link_to I18n.t(:show), survey, class: 'btn' %></td>
      <td><%= link_to I18n.t(:edit), edit_survey_path(survey), class: 'btn btn-primary' %></td>
      <td><%= button_to I18n.t(:delete), { action: :destroy, id: survey.id }, method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @surveys, previous_label: I18n.t(:previous), next_label: I18n.t(:next) %>
<br />

<%= link_to I18n.t(:new_survey), new_survey_path, class: 'btn btn-success' %>
