<%= outgoing_menssage %>
<div class="page-header">
  <h2><%= I18n.t :survey %></h2>
</div>

<table class="table table-bordered table-striped">

  <p><b><%= I18n.t :employee %></b><br>
    <%= @survey.employee.name %>
  </p>


  <p><b><%= I18n.t :departament %></b><br>
    <%= @survey.departament.name %>
  </p>


  <p><b><%= I18n.t :employment %></b><br>
    <%= @survey.employment.name %>
  </p>


  <p><b><% I18n.t :product %></b><br>
    <% @survey.product %>
  </p>
</table>

<%= link_to arrow_left, surveys_path %>
<%= link_to I18n.t(:edit), edit_survey_path(@survey), class: 'btn btn-primary' %>
