<%= form_for(@competence) do |f| %>
  <div class="module_content">
    <% if @competence.errors.any? %>
      <div id="error_explanation">
        <h4 class='alert_error'><%= pluralize(@competence.errors.count, "error") %> prohibited this category from being saved:</h4>
        <ul>
        <% @competence.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label><b><%= I18n.t :name %></b></label>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <label><b><%= I18n.t :enabled %></b></label>
      <%= f.check_box :enabled %>
    </div>
    <div class="field">
      <%= f.fields_for :questions do |builder| %>
      <%= render "question_fields", :f => builder %>
    </div>
  <% end %>
  </div>

  <%= link_to arrow_left, competences_path %>
  <%= submit_link(f) %>
  <%= submit_tag(I18n.t(:clear), class: 'btn btn-inverse', type: "reset" ) %>
  <%= link_to(I18n.t(:show), @competence, class: 'btn') if params[:action] == 'edit' %>
<% end %>
