<td> 
<div class="field">
  <label><b><%= I18n.t :question %><br /></label>
  <%= f.text_area :name, :rows => 3 %><br />
</div>
<div class="field">
	<%= f.fields_for :answers do |builder| %>
	  <%= render "answer_fields", :f => builder %>
	<% end %>
</div>
</td>
