<div class="page-header">
  <h2><%= I18n.t :listing_competences %> - <%= link_to I18n.t(:new_competence), new_competence_path, class: 'btn btn-success' %></h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th><%= t :enabled %></th>
    </tr>
  </thead>
  <tbody>
  <% @competences.each do |competence| %>
    <tr>
      <td><%= competence.name %></td>
      <td><%= competence.enabled %></td>
      <td><%= link_to I18n.t(:show), competence, class: 'btn' %></td>
      <td><%= link_to I18n.t(:edit), edit_competence_path(competence), class: 'btn btn-primary' %></td>
      <td><%= button_to I18n.t(:delete), { action: :destroy, id: competence.id },:confirm => "Are you sure?", method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @competences, previous_label: I18n.t(:previous), next_label: I18n.t(:next) %>
<br />

<%= link_to I18n.t(:new_competence), new_competence_path, class: 'btn btn-success' %>
