<%= outgoing_menssage %>
<div class="page-header">
  <h2><%= I18n.t :showing %></h2>
</div>
<table class="table table-bordered table-striped">
  <b><%= I18n.t :name %></b>
  <%= @competence.name %> <br />

    <b><%= I18n.t :enabled %></b> 
    <%= @competence.enabled %><br />
   
<% for question in @competence.questions %>
<b><%= I18n.t :question %></b>
<%=h question.name %> <br />

    <% for answer in question.answers %>
    <b><%= I18n.t :answer %></b>
      <%=h answer.name %>
    <b><%= I18n.t :score %></b>
      <%=h answer.score %> <br />
    <% end %>
   
<% end %>

</table>



<%= link_to arrow_left, competences_path %>
<%= link_to I18n.t(:edit), edit_competence_path(@competence), class: 'btn btn-primary' %>
