<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Description">
    <meta name="keywords" content="Keywords">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5.js" %>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "bootstrap.css", "bootstrap-responsive.css", "docs.css" %>
    <%= csrf_meta_tags %>

  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">
    <!-- Navbar
      ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
         <% unless current_user.nil? %>
            <div class="brand-right"><%= current_user.email %> <%= link_to I18n.t(:logout), destroy_user_session_path, method: :delete, class: 'btn btn-danger' %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><%= link_to t(:home), root_path%></li>
            <li><%= link_to t(:employees),employees_path%></li>
            <li><%= link_to t(:departaments),departaments_path%></li>
            <li><%= link_to t(:employments),employments_path%></li>
            <li><%= link_to t(:competences),competences_path%></li>
            <li><%= link_to t(:questions),questions_path%></li>
            <li><%= link_to t(:answers),answers_path%></li>
            <li><%= link_to t(:surveys),surveys_path%></li>
          </ul>
        </div>
      </header>

      <%= yield %>

      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <%= javascript_include_tag "jquery-1.7.2.min.js", "bootstrap.min.js", "app.js", "bootswatch.js" %>

      <!-- Footer
      ================================================== -->
      <footer class="footer">
        <center><p>Footer</p></center>
      </footer>

    </div><!-- /container -->

  </body>
</html>
