<!DOCTYPE html>
<html>
<head>
  <title>Desempenho</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
    <nav>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
      <% unless current_user.nil? %>
      <div class="brand-right"><%= current_user.email %> <%= link_to I18n.t(:logout), destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
      </div>
      </div>
    </div>
    </nav>
    </div>
    <div class="container">
      <% unless current_user.nil? %>
      <div class="brand-right"><%= current_user.email %> <%= link_to I18n.t(:logout), destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <br/>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="user_nav">
      <%= link_to 'Registrar', new_user_registration_path %> ou <%= link_to 'Logar', new_user_session_path %>
      <% end %>
<%= yield %>
</body>
</html>
